@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}



body { background-color: #fff; padding: 20px; }

#quiz {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400;
   height: 100vh;
   position: relative;
   overflow: auto;
   color: #fff;
   background: #262262;
}

#quiz h1 {
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0px;
  position: absolute;
  top: 25px;
  left: 36px;
}

#quiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;
}

#quiz .intro{
  position: absolute;
  top: 225px;
  left: 40px;
  width: 550px;

}

#quiz .intro p {
  margin: 0px 0px 14px 0px;
}

#quiz .intro input {
  color: #000;
}

#quiz .questions {
  width: 550px;
  position: absolute;
  top: 225px;
  left: 40px;
}

#quiz .questions .txt {
  font-size: 1.6em;
  margin: 0px 0px 20px 0px;
}

#quiz .questions .ans {
  display: inline-block;
  font-size: 1.1em;
  cursor: pointer;
  width: 225px;
  border: 2px solid rgba(238, 189, 102, 0.4);
  border-radius: 6px;
  padding: 10px;
  margin: 0px 15px 15px 0px;
  position: relative;
}



#quiz .results {
  position: absolute;
  top: 225px;
  left: 40px;
  width: 550px;
}

#quiz .active,
#quiz .inactive {
  transition: left 1.5s ease-in-out;
}

#quiz .active {
  left: 40px;
}

#quiz .intro.inactive {
  left: -1350px;
}


[angular-ripple] {
    position: relative;
    overflow: hidden;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
  }
  .angular-ripple.animate {
    animation: ripple 3s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

#quiz .questions.inactive {
  display: none;
}

#quiz .results.inactive {
  display: none;
}
